
h2{
    font-size: 28px;
    padding: 20px 0;
}

#expenses-container, #history-container{
    border-radius: 5px;
    
    background-color: white;
    font-size: 12px;
    width: 900px;
    box-shadow: 0 0 30px rgba(0,0,0,0.1);
    box-sizing: border-box;
}

#expenses-container{
    display: grid;
    grid-template-columns: 60% 40%;
    grid-template-rows: 100%;
}

#columnchart_material{
    padding: 20px 0;
}

#expenses-container h3{
    margin: 20px 0;
}

#left-container{
    width: 100%;
    display: inline-block;
    vertical-align: top;
    padding: 40px;
    box-sizing: border-box;
}
#right-container{
    width: 100%;
    display: inline-block;
    vertical-align: top;
    min-height: 100%;
    background-color: #f4f3ff;
    padding: 40px;
    box-sizing: border-box;
}


#expenses-transactions .preview-expense{
    padding: 20px 0 20px 0;
    border-bottom: dotted 1px #ccc;
}

#expenses-transactions .preview-expense .left, #expenses-transactions .preview-expense .right{
    display: inline-block;
    vertical-align: middle;
}
#expenses-transactions .preview-expense .left{
    width: 72%;
}
#expenses-transactions .preview-expense .right{
    width: calc(30% - 8px);
}
#expenses-transactions .preview-expense .title{
    vertical-align: top;
    margin-right: 27px;
    font-size: 14px;
    padding-bottom: 5px;
}
#expenses-transactions .preview-expense .amount{
    vertical-align: middle;
    display: block;
    text-align: right;
    font-weight: bold;
}

#expenses-transactions .preview-expense .category{
    font-size: 10px;
    background: #20bbbd;
    border-radius: 10px;
    display: inline-block;
    padding: 3px 10px;
    color: white;
}
.more-container{
    padding: 10px 0;
}

#expenses-category{
    overflow-x: hidden;
    width: 100%;
}

.w-20{width: calc(20% - 60px);}
.w-30{width: calc(30% - 60px);}
.ws-30{width: 114px; margin-bottom: 10px;}
.w-40{width: calc(40% - 60px);}
.w-50{width: calc(50% - 60px);}
.w-60{width: calc(60% - 60px);}
.w-70{width: calc(70% - 60px);}

#expenses-summary{
    display: flex;
    justify-content: space-between;
}
#expenses-summary .total-expense{
    font-size: 32px;
    font-weight: bolder;
}

#expenses-summary .total-budget{
    padding: 10px 0;
}

#expenses-summary .total-budget .total-budget-text{
    font-weight: bolder;
}

#new-expense-container{
    background: var(--primary-color);
    color: white;
    padding: 20px;
    text-align: center;
    cursor: pointer;
    height: 84px;
}
#new-expense-container:hover{
    background: var(--hover-color);
    box-shadow: 0 2px 5px rgb(128, 187, 238);
    transition: 0.5s;
}

#new-expense-container .simbolo{
    font-size: 48px;
}

.category-total{
    color: green;
    text-align: center;
    font-size: 22px;
    font-weight: bold;
    padding-bottom: 10px;
}
.category-name{
    font-size: 14px;
    font-weight: bold;
    text-align: center;
}

#background-container{
    background-color: rgba(0,0,0,0.5);
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
}

#title-bar-container{
    width: 100%;
    text-align: right;
}

#panel-container{
    background-color: white;
    width: 400px;
    margin: 50px auto;
    border-radius: 3px;
}

.broken{
    color: rgb(197, 20, 20);
}


